# Export API Version
export REST_API_VERSION=$(grep -A1 'info:' ./deputy-reporting-openapi.yml | grep 'version:' | head -1 | awk '{print $2}')
export MOCKING_ENV='host.docker.internal'
if [ ! -f ./deputy-reporting-openapi.yml ]
then
git clone git@github.com:ministryofjustice/opg-data.git
cp ./opg-data/docs/deputy-reporting-openapi* ./
rm -rf ./opg-data
fi
for d in lambda_functions/*/
do
find "${d}/functions" -type f -print0 | sort -z | xargs -0 sha1sum | sha1sum | cut -c 1-15 > "${d}"/directory_sha
done

