# Export API Version
export REST_API_VERSION=`grep -A1 'info:' ./deputy-reporting-openapi.yml | grep 'version:' | head -1 | awk '{print $2}'`
export MOCKING_ENV='host.docker.internal'
if [ ! -f ./deputy-reporting-openapi.yml ]
then
git clone git@github.com:ministryofjustice/opg-data.git
cp ./opg-data/docs/swagger.v1.yaml ./deputy-reporting-openapi.yml
rm -rf ./opg-data
fi
