**/terraform.tfstate*
.terraform
.notes
.vs
# Virtual Environments
.venv

# lambda stuff
lambda*.zip

# Ruby
*.lock

# IDE & development
.idea
__pycache__
.vscode/
*.iml

# Mac
.DS_Store

# Test environment
*generated.postman_environment.json
process.yml
.pytest_cache/

/venv/
/mock_sirius/deputy-reporting-openapi.yml

.coverage
