---
extends: default
rules:
    line-length:
        max: 170
        level: error
    indentation:
        spaces: consistent
        indent-sequences: consistent
        level: warning
ignore: |
    venv
    process.yml
    ./docs/swagger/sirius_public_api.yml
    ./mock_sirius/deputy-reporting-openapi.yml
    docs/swagger/sirius_public_api.yml
    mock_sirius/deputy-reporting-openapi.yml
