pytest
flake8
flake8-quotes
requests
black
yamllint
pyjwt
boto3==1.14.56
moto==1.3.14
pytest-cases==1.17.0
pytest-ordering
flask
flask-lambda
flask-lambda-python36
pytest-env
requests_aws4auth
faker
pytest-html
pytest-xdist
