pytest==6.2.5
flake8==3.9.2
flake8-quotes==3.3.2
requests==2.31.0
black==22.12.0
yamllint==1.32.0
pyjwt==2.8.0
boto3==1.28.48
moto==3.1.18
pytest-cases==1.17.0
pytest-ordering==0.6
flask==2.3.3
flask-lambda==0.0.4
flask-lambda-python36==0.1.1
pytest-env==0.8.2
requests-aws4auth==1.2.3
faker==4.18.0
pytest-html==2.1.1
pytest-xdist==2.5.0
