on:
  workflow_call:
    inputs:
      apply_terraform:
        description: 'Whether to apply the planned actions'
        default: false
        required: false
        type: boolean
      terraform_path:
        description: 'The name of the terraform paths'
        required: true
        type: string
      workspace:
        description: 'Terraform workspace'
        required: true
        type: string
      image_tag:
        description: 'Image tag to use'
        required: false
        type: string
      protect_workspace:
        description: 'Whether to protect the workspace'
        default: false
        required: false
        type: boolean
      mock_sirius:
        description: 'Whether to use mock sirius'
        required: false
        default: '0'
        type: string
      environment:
        description: 'Environment to use for OIDC'
        required: true
        type: string
      load_allow_list_private_key:
        description: 'Whether to load the Private SSH Key to access the MOJ IP Allow List'
        default: false
        required: false
        type: boolean
    secrets:
      ssh_private_key_allow_list_repository:
        required: false

jobs:
  terraform_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: '0'

      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - id: terraform_version
        name: get terraform version
        uses: ministryofjustice/opg-github-actions/.github/actions/terraform-version@b8868247a908f74fafe1905701391580575a6d35 # v4.3.10
        with:
          terraform_directory: infrastructure/${{ inputs.terraform_path }}

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.terraform_version.outputs.version }}
          terraform_wrapper: false

      - name: Configure AWS OIDC Credentials For Terraform
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: "arn:aws:iam::631181914621:role/oidc-data-deputy-reporting-${{ inputs.environment }}"
          role-session-name: OPGDeputyReportingGithubAction
          aws-region: eu-west-1
          role-duration-seconds: 3600

      - name: Lint Terraform
        id: tf_lint
        run: terraform fmt -check -recursive
        working-directory: infrastructure/${{ inputs.terraform_path }}
        continue-on-error: true

      - name: Output variables
        id: output_variables
        run: |
          echo ${{ inputs.terraform_path }}
          echo ${{ inputs.workspace }}
          echo ${{ inputs.image_tag }}
          echo ${{ inputs.mock_sirius }}
        working-directory: infrastructure/${{ inputs.terraform_path }}
        continue-on-error: true

      - name: Setup SSH private key
        if: inputs.load_allow_list_private_key
        uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.ssh_private_key_allow_list_repository }}

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: infrastructure/${{ inputs.terraform_path }}

      - name: Terraform Plan
        env:
          TF_WORKSPACE: ${{ inputs.workspace }}
          TF_VAR_image_tag: ${{ inputs.image_tag }}
          TF_VAR_use_mock_sirius: ${{ inputs.mock_sirius }}
        run: |
          terraform workspace show
          terraform plan -input=false -parallelism=30
        working-directory: infrastructure/${{ inputs.terraform_path }}

      - id: terraform_workspace
        if: inputs.terraform_path == 'environment' && inputs.protect_workspace
        name: Register workspace
        uses: ministryofjustice/opg-github-actions/.github/actions/terraform-workspace-manager@b8868247a908f74fafe1905701391580575a6d35 # v4.3.10
        with:
          aws_account_id: 288342028542
          aws_iam_role: integrations-ci
          register_workspace: ${{ inputs.workspace }}
          time_to_protect: 3
          oidc_role: arn:aws:iam::631181914621:role/oidc-data-deputy-reporting-${{ inputs.environment }}

      - name: Terraform Apply Environment
        if: inputs.apply_terraform
        env:
          TF_WORKSPACE: ${{ inputs.workspace }}
          TF_VAR_image_tag: ${{ inputs.image_tag }}
          TF_VAR_use_mock_sirius: ${{ inputs.mock_sirius }}
        run: terraform apply -lock-timeout=300s -input=false -auto-approve -parallelism=30
        working-directory: infrastructure/${{ inputs.terraform_path }}
